* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.circle {
    width: 8px;
    height: 8px;
    position: relative;
    top: -2px;
    border-radius: 50%;
    display: inline-block;
}

.error {
    border: 1px solid red;
}
.switcher {
    margin: 0!important;
    padding: 0;
}

.headerMap {
    padding: .3rem;
    align-items: center;
    position: absolute;
    display: flex;
    justify-content: space-between;
    top: 70px;
    left: 0;
    right:0;
    z-index: 10;
    color: white
}

.search {
    position: absolute;
    top: 70px;
    left: 50%;
    transform: translate(-50%);
    width: 100%;
    max-width: 400px;
    z-index: 100;
}
.search input {
    padding: 0.5rem;
    font-size: 1.5rem;
    width: 100%;
}

.locate {
    position: absolute;
    top: 20px;
    right: 20px;
    color: white;
    border: none;
    background: transparent;
}

.gm-ui-hover-effect {
    /*display: none!important;*/
}
.gm-style .gm-style-iw-t::after {
    /*display: none;*/
}
.gm-style .gm-style-iw-tc {
    top: -17px;
    /*display: none;*/
}
.gm-style-iw-c {
    padding:0!important;
    max-width: 345px!important;
    min-width: 300px!important;
    position: relative;
    top: -17px!important;
}
.gm-style-iw-d {
    overflow: auto!important;
    min-height: 200px!important;
}
.gm-style .gm-style-iw-t::after{
    position: absolute;
    top: -15px;
}

.loader-wrapper-map-page {
    height: calc(100vh - 65px);
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
}
.loader-wrapper-chat-page {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
